NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3001
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3000
NEXT_PUBLIC_CSP_MODE=report-only
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_VITE_API_THRESHOLD=60
NEXT_PUBLIC_VITE_THROTTLE_WINDOW=60000
